<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ro.pandemonium.expense">

    <!-- permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name">
        <!-- activities -->
        <activity android:name=".activity.ExpenseMainActivity"
                  android:icon="@drawable/money"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.AddEditExpenseActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".activity.ExpenseSearchResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="org.achartengine.GraphicalActivity"/>
        <activity android:name=".activity.chart.PieChartActivity"/>
        <activity android:name=".activity.chart.BarChartActivity"/>
    </application>
</manifest> 
